<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>
    </aside>
    <div class="span8">
      <h3>Property</h3>
      <%= render 'shared/property_list' %>
    </div>
  </div>
<% else %>
  <div class="center hero-unit">
    <h1>ShangWei and Matt's Brain Child</h1>

    <h2>
      Growing...
    </h2>

    <%= link_to "Sign up now!", signup_path,
                                class: "btn btn-large btn-primary" %>
  </div>

<% end %>
